{% extends 'authe/base.html' %}
{% load static %}
{% load socialaccount %}

{% block static_links %}
<link rel="stylesheet" href="{% static 'authe/styles/form.css' %}">
{% endblock %}

{% block form_div %}
<div class="form-wrapper">
    <form action="{% url 'authe:signin' %}" method="POST" class="form d-flex flex-column align-items-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">
            Войти
        </button>

        <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-dark mt-2">
            Login with Google
        </a>

        <p class="mt-3">Нет аккаунта? <a href="{% url 'authe:signup' %}">Зарегистрируйтесь</a></p>
        {% if error %}
            Error: {{ error }}
        {% endif %}
    </form>
</div>
{% endblock %}