

#authe-body {
    background-image: url('	https://yastatic.net/s3/passport-auth-customs/customs/_/2V4FB5Yu.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}